.login__about-section{
  background: url('./about.png');
  flex-basis: 50%;
}

.login__about{
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 75vh;
  margin: 0 auto;
  justify-content: center;
}

.login__heading{
  font-size: 3rem;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #56CCF2;
  text-align: left;
}

.login__content{
  font-size: 1rem;
  line-height: 37px;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  text-align: left;
}
