.project__page--container {
  width: 80%;
  margin: 0 auto;
  padding-top: 9rem;
}

.project__name, .scrum__name {
  color: #3f7baa;
  font-size: 1.3rem;
}

.scrum__name {
  font-weight: 500;
  display: block;
  width: 9rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  white-space: unset;
  line-height: 2rem;
}

.project__name {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: 'Lato';
}

.project__tab-container {
  display: flex;
  align-items: center;
}

.scrums__add-icon {
  margin-bottom: 1rem;
  align-self: center;
}

.scrums__add-icon svg {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: #4d6273;
  cursor: pointer;
}

.scrums__add-icon svg:hover {
  color: #3f7baa;
}

.tasks__table tr:nth-child(even) {
  background: rgba(213, 238, 241, 0.3);
}

.tasks th {
  background: #3f7baa !important;
  color: #eee !important;
}

.tasks__table th span {
  font-weight: bold;
  letter-spacing: 0.04rem;
  font-size: 0.9rem;
  padding: 0 0.3rem;
}

.project__tab {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.project__button {
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
  border: none;
  padding: 3px;
  align-items: center;
  display: flex;
  height: 50px;
  min-width: 90px;
  justify-content: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.scrums__close-icon svg {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.45);
  padding: 1px;
  transition: all 0.3s;
}

.project__scrum--link {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.active {
  color: #3f7baa;
  font-weight: bold;
}

.Project__button:hover a {
  color: #3f7baa;
}

.project__button:hover .scrums__close-icon svg {
  color: rgba(0, 0, 0, 0.6);
}

.tasks__table {
  width: 100%;
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;
  margin-bottom: 8rem;
}

.tasks__table tr:nth-child(even) {
  background: rgb(213, 238, 241, 0.3);
}

.tasks__table th:last-child {
  text-align: center;
  padding: 0;
}

.tasks__cell:hover {
  cursor: text;
}

.tasks__cell {
  display: block;
  font-size: 0.9rem;
}

.description {
  width: 11rem;
}

.priority, .estimate_time, .remaining_time {
  text-align: center;
}

.status__select, .actionType__select, .projectTeam__select {
  outline: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  background: white;
}

.scrum__addTask__btn {
  background: #3f7baa;
  color: #fff;
  box-shadow: none;
  border: 1px solid #eee;
  transition: all ease 0.5s;
}

.scrum__addTask__btn:hover {
  background: #3f7baae3;
  color: #fff;
}

.scrum__header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.tasks__table th {
  background: #3f7baa !important;
  color: #eee !important;
}

.tasks__table tr:nth-child(even) .status__select, .tasks__table tr:nth-child(even) .actionType__select {
  background: #fff;
}

.tasks__table tr:nth-child(odd) .status__select, .tasks__table tr:nth-child(odd) .actionType__select {
  background: rgb(213, 238, 241, 0.3);
}

.scrum__page--container {
  margin-top: 1rem;
}

.tasks__delete-span {
  display: flex;
  justify-content: center;
}

.tasks__delete-icon svg {
  font-size: 1.2rem;
  color: #cc2222;
}

.ant-calendar-picker-input {
  width: 8rem;
}

.tasks__table>.ant-table-column-sorters, .tasks__table .anticon-filter {
  background-color: #3f7baa !important;
}

.tasks--date input{
  cursor: pointer !important;
}