 @import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 60rem;
    font-family: 'Lato', Courier, monospace;
}

.project__page--container {
    width: 80%;
    margin: 0 auto;
}

.Project__name, .Scrum__name {
    display: inline-block;
    color: #3f7baa;
    
}

.Scrum__name {
    font-size: 1.2rem;
}

.Project__name {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-family: 'Lato';
}

.Project__addScrum__btn, .Scrum__addTask__btn{
    margin-left: 1rem;
}

.Project__tabs{
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
    min-height: 2rem
}

.Project__tab{
    float: left;
}

.Project__scrum--link {
    border: 1px solid #3f7baa;
    color: #3f7baa;
    font-size: 1rem;
    padding: 0.9rem;
    border-right: none;
    border-left: none;
}

.active, .Project__scrum--link:hover { 
    background: #3f7baa;
    color: #fff;
}

.Project__scrum--link:hover{
    font-size: 1rem;
}

.Project__scrum{
    margin-top: -4rem
}

.Scrum__header {
    margin-top: 8rem;
    margin-bottom: 2rem;
}
 
.tasks__table {
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: collapse;
    margin: 0 auto;
}

.tasks__table tr:nth-child(even) {
    background: rgb(213, 238, 241, 0.3);
}

.tasks__table th:last-child{
    text-align: center;
    padding: 0;
}

.ant-table-thead > tr > th, 
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover, 
.ant-table-thead > tr > th 
.anticon-filter, 
.ant-table-thead > tr > th .ant-table-filter-icon:hover,
.ant-table-thead > tr > th, 
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover, 
.ant-table-thead > tr > th .anticon-filter, 
.ant-table-thead > tr > th .ant-table-filter-icon:hover {
    background: #3f7baa;
    color: #fff
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover ,
.anticon-filter:hover, 
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover,
.ant-table-filter-icon:hover
.ant-dropdown-menu-item:hover, 
.ant-dropdown-menu-submenu-title:hover {
    color: #fff;
    background: #3f7baa;
}

.status__select, .actionType__select {
    background: #fff;
    border: none;
    padding: 1rem
}

.tasks__cell:hover {
    cursor: text;
}

.tasks__cell {
    display: block;
}

.description {
    width: 11rem;
}

.priority, .estimate_time, .remaining_time {
    text-align: center;
}

.status__select, .actionType__select {
    padding: 0;
}

.status__select {
    width: 6.8rem;
}

.Project__addScrum__btn, .Scrum__addTask__btn{
    background: #3f7baa;
    border: none;
}

.tasks__table tr:nth-child(even) .status__select,
.tasks__table tr:nth-child(even) .actionType__select {
    background: #fff
}

.tasks__table tr:nth-child(odd) .status__select,
.tasks__table tr:nth-child(odd) .actionType__select {
    background: rgb(213, 238, 241, 0.3);
}


