
.users__notification-div{
  width:70%;
  margin: .5rem auto .5rem auto;
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.users__saved-msg {
  font-size: 1rem;
  color:#3db14b;
  padding-left: 1rem;
}

.users__notification-icon{
  padding-right: .6rem;
  font-size: .9rem;
}

.users__notification-icon-saved,
.users__notification-msg {
  color: #0b9d0b
}

.users__notification-msg{
  font-size: 14px;
}

