.header {
  border-bottom: 1px solid #e8e8e8;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
  box-shadow: 3px 2px 5px #aba8a8a1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header__logo {
  padding: 0.4rem;
}

.header__right-section {
  display: flex;
  align-items: center;
}

.header__navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.header__navbar li {
  margin-right: 1rem;
  color: #3f7baa;
}

.header__navbar .active {
  font-weight: bold;
}

.header__username:hover, .header__navbar li:hover {
  text-decoration: underline;
  transition: all ease-in-out 1000;
}

.header__username {
  cursor: pointer;
  margin-left: 1rem;
  color: #3f7baa;
}

.header__caret-down {
  margin-left: 0.5rem;
  color: #3f7baa;
}