.project__page--container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.button {
  margin-bottom: 10px;
}
.ant-btn-primary {
  background-color: #3f7baa;
}
.button--caption {
  color: white;
}
